.form {
  display: flex;
  gap: 0.5rem;
  margin-top: calc(173px - 12.5rem);
}

.form > input {
  width: 39.875rem;
  height: 3.375rem;
  padding: 1rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-300);
}

.form > button {
  background-color: var(--blue-700);
  border: none;
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}